.html{
    height: 100%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    min-height: 100%;
}
.grid-container >*{
   /* box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.075);*/
    border-radius: 4px;
    /*padding: 10px;*/
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    "header"
    "sidebar"
    "main"
    "section" 
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 6,5fr auto auto;
}
.header{
    grid-area: header;
    background-color: aqua;
}
.section{
    grid-area: section;
    background-color: yellow;
}
.sidebar{
    grid-area: sidebar;
    background-color: orange;
}
.main{
    grid-area: main;
    background-color: red;
}
.footer{
    grid-area: footer;
    background-color: green;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.grid-container-header-menu{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.menu_items_a ul li{
    list-style-type: none;
    display: flex;
}

.menu_item{
    display: none;
}
.filtro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-select{
    width: 60%;
}
.section{
    display: flex;
    justify-content: center;
}
.cards{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    align-content: space-evenly;
}
.card-img-top{
    height: 320px;
    width: 286px;
}
#card1{
    width: 50px;
}
.footer-text-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (min-width: 576px) {
    .grid-container{
        display: grid;
        background-color: blue;
        grid-template-areas:
        "header sidebar"
        "header main"
        "header main"
        "footer section";
        grid-template-columns: 20% 80%;
    }
    .grid-container-header-menu{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .menu_item{
        display: flex;
        flex-direction: column;
    }
    .menu_icono_hamburguesa{
        display: none;
    }
    .menu_items_a ul li{
        font-size: 14px;
        padding-top: 40%;
    }
    .sidebar{
        height: fit-content;
    }
    .pag{
        display: flex;
        align-items: end;
    }
    .main{
        grid-template-rows: repeat (4,1fr)
    }
    .footer-text-center h6{
        display: flex;
        flex-direction: column;
        
    }
}
